<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = 
      <%= render("api/users/user.json.jbuilder",
          user: current_user).html_safe %>
  </script>

  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<% end %>


<script type='text/javascript'>
  window.images = {
    
    logo: '<%= image_url('navbar/kisspng-harry-potter-and-the-deathly-hallows-hedwig-drawin-flying-owl-5adcc6b2d49476.4843594415244182268707.jpg') %>',
    logo_hp: '<%= image_url('hp.png') %>',
    git: '<%= image_url('footer/git.png') %>',
    insta: '<%= image_url('footer/insta.png') %>',
    linkedin: '<%= image_url('footer/linkedin.png') %>',
    tweet: '<%= image_url('footer/tweet.png') %>',
    footer_logo: '<%= image_url('footer/hp_logo.png') %>',
    hwe: '<%= image_url('hwe.jpg') %>',


    hp_navbar_logo: '<%= image_url('navbar/hp_navbar_logo.png') %>',
    slogan_logo: '<%= image_url('navbar/slogan_logo.png') %>',
    splash1: '<%= image_url('splash/splash1.jpg') %>',
    splash2: '<%= image_url('splash/splash2.jpg') %>',
    splash3: '<%= image_url('splash/splash3.jpg') %>',
    splash4: '<%= image_url('splash/splash4.jpg') %>',
    splash5: '<%= image_url('splash/splash5.jpg') %>',
    splash6: '<%= image_url('splash/splash6.jpg') %>',
    splash7: '<%= image_url('splash/splash7.jpg') %>',
    splash8: '<%= image_url('splash/splash8.jpg') %>',
    splash9: '<%= image_url('splash/splash9.jpg') %>',
    signup_bg: '<%= image_url('signup/signup_bkgrd.jpg') %>',
    freedobby: '<%= image_url('navbar/freedobby.gif') %>',
    pj2: '<%= image_url('project/pj2.gif') %>',

    lp1: '<%= image_url('project/lp1.jpg') %>',
    lp2: '<%= image_url('project/lp2.gif') %>',
    lp3: '<%= image_url('project/lp3.jpg') %>',
    
  }
</script>



<main id='root'>React is Broken</main>
